button {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%,-50%,0);
  width: 9.75em;
  background: #409fff;
  border: 1px solid #409fff;
  border-radius: 1.25em;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  height: 2.5em;
  transition: all 200ms ease;
}

button:focus, button:hover {
  background-color: #0073e5;
  border-color: #0073e5;
}