h1 {
    font-size: 3.875em;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

h2 {
  font-size: 1.375em;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .18182em;
  padding: 0;
  text-align: center;
}

h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: .9375em;
}

p {
  color: #484a4d;
  font-size: .875em;
  line-height: 1.28571em;
  margin: 0 0 .92857em;
  padding: 0;
  text-align: center;
  white-space: pre-wrap;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}