.root {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fca311;
  padding-left: 5em;
}

.upload-card {
  border-radius: 10px;
  font-weight: 400;
  width: 17.5em;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 8px 16px rgba(1, 1, 1, .1);
}

h1 > span {
  color: #babcbf;
  display: inline-block;
  font-size: .35484em;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: .27273em;
  vertical-align: top;
}

.upload-card p {
  margin-bottom: 50px;
}

.actions {
  position: relative;
  border-top: 1px solid #d4d7d9;
  height: 4.5em;
  padding: 0 1.25em;
}


@media screen and (max-width: 390px) {
  .root {
    padding-left: 0;
    justify-content: center;
  }
}