@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.circular-progresss-root {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 1.875em auto .75em;
}

.circular-progresss-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-progress-circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  animation: rotate 1500ms linear infinite;
}
